apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  type: NodePort
  ports:
    - targetPort: 80      # Port of the Pod
      port: 80            # Port of the Service
      nodePort: 30008     # Port of the node 30000 - 32767
  selector:
    app: myapp
    type: front-end